/* google fonts */
@import url('https://fonts.googleapis.com/css?family=Monda:400,700|Raleway&display=swap');

/* 
   CSS RESET

   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END CSS RESET */

/* BEGIN CUSTOM STYLESHEET */

html {
    width: 100%;
    
}

body{
    width: 100%;
}

h1 {
    font-size: 3.5em;
    font-weight: 700;
    font-family: 'Monda', sans-serif;

}
h2 {
    font-size: 2em;
    font-weight: 700;
    font-family: 'Monda', sans-serif;
}
h3 {
    font-weight: 500;
    font-family: 'Monda', sans-serif;
}
h4 {
    font-weight: 500;
    font-family: 'Monda', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}


header {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 33% 67%;
    align-items: baseline;
    background-color: #ABADA9;
    padding-bottom: 20px;
    box-shadow: 3px 0 3px 3px black;
    position: sticky;
    top: 0;
}

main {
    background-color: #EFEFEF;
    padding-top: 20px;
    width: 100%;
}

#splash-image {
    max-width: 90%;
    object-fit: contain;
}

#lastSentence{
	font-size: 25px;
	color: orangered;
	font-weight: 200;
}

a {

}
a:active {

}

a:focus {
    outline: green dashed 1px;
}

a:hover{
	color: goldenrod;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    font-family: 'Monda', sans-serif;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2em;
    background-color: black;
    color: #ABADA9;
}
.nav-link:active  {
    
}
.nav-link:focus  {
    
}

.nav-link:hover  {
    
}


#index-welcome-grid {
    margin: auto;
    width: 85%;
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
    justify-content: center;
}

#tagline {
    margin-top: 10px;
}

#splash-image {
    margin-top: 15px;
}


@media (max-width : 936px ){
}
